[Unit]
Description=Caching Proxy API
Wants=network-online.target
After=network-online.target

[Service]
Type=exec
User=cache-api
Group=cache-api
Environment=CONFIG_PATH=/etc/cache-api/config.yaml
ExecStart=/usr/bin/python3 -u /usr/libexec/cache-api/cache-api.py
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
